.card {
  box-shadow: 0 0 25px rgba(19, 19, 19, 0.3);
  border: none;
  background-color: rgb(153, 153, 153);
}

.card:hover .social-icon {
  display: inline-block;
  opacity: 1;
}

.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.social-icon {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.position-relative {
  position: relative;
}

.social-icons {
  position: absolute;
  top: 85%;
  left: 30%;
  display: flex;
}

.social-icon {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}

.card-body {
  text-align: center;
}

.image {
  border: 5px solid orange;
  border-radius: 0px 25px 25px 25px;
}

img {
  border-radius: 15px;
}
a{
  text-decoration-color:rgb(255, 255, 255);
  color: black;
}
